@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@700&display=swap');
html{
  box-sizing: border-box;
}

*,*:after,*:before
{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Karla', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  background-color: #0B2434;
}
ul,ol{
  list-style: none;
}